<div class="homebackground">
  <div class="home_logo">
    <a href="#">
      <%= link_to notes_path do%>
      <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1588607462/Note%20iT/shadow_lhxsud.png" alt="logo">
      <% end %>
    </a>
  </div>
  <div class="title-home">
    <h1>Note'it</h1>
  </div>
</div>
