.avatar {
  width: 50px;
  border-radius: 50%;
}
.avatar-large {
  width: 66px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 50px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-note{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar-note-waiting{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid red;
}
.avatar-note-chef{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.explain-waiting{
  padding: 3px 3px 0 3px;
  p{
    color: white;
  }
  display:none;
}
.fa-crown{
  color: gold;
  position: relative;
  top: -20px;
  right: -31px;
}
.member-position{
  text-align: left;
}
