.form_new{
  padding-bottom:25px;
  text-align: center;
}
.note{
  padding-top: 25px;
}
.note-add-title{
   h2{
    font-family: 'Damion', cursive;
    font-size: 30px;
    text-align: center;
  }
}

.note-group{
  padding-top: 25px;
}
.note-group-add{
  text-align: center;
   h2{
    font-family: 'Damion', cursive;
    font-size: 30px;

  }
  p{
    font-size: 15px;

  }
}
