.member-chef{
  text-align: center;
  font-weight: bold;
   h2{
    font-family: 'Damion', cursive;
    font-size: 40px;
  }
}
.members-team{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  h2{
    font-family: 'Damion', cursive;
    font-size: 40px;
  }
}
.member-team{
  text-align: center;
  position: relative;
}
.nothing{
    font-size:14px;
    font-weight:normal;

  }
.member-add{
  text-align: center;
  font-weight: bold;
}
.avatar-member-chef{
   width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid gold;

}
.avatar-member{
   width: 60px;
  height: 60px;
  border-radius: 50%;
}
.avatar-member-add{
   width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid white;

}
.form-control{
  width: 400px;
  margin: 0 auto;
}
